
@{
    ViewData["Title"] = "Dashboard";
}
<div class="container">
    <h2>Welcome to the Dashboard</h2>
    <section id="sidebar">
        <div class="white-label">
        </div>
        <div id="sidebar-nav">
            <ul>
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Account Summary</a></li>
                <li><a href="#"><i class="fa fa-desktop"></i> Account Statement</a></li>
                <li><a href="#"><i class="fa fa-usd"></i> Pending Statement</a></li>
                <li><a href="#"><i class="fa fa-pencil-square-o"></i> Spend Analyser</a></li>
                <li><a href="#"><i class="fa fa-sitemap"></i> Login Password Change</a></li>
                <li><a href="#"><i class="fa fa-line-chart"></i> Rewards</a></li>
                <li><a href="#"><i class="fa fa-comments-o"></i>e-Statement</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Fund Transfers</a></li>
                <li><a href="#"><i class="fa fa-users"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-calendar-o"></i> Update Account</a></li>
                <li><a href="#"><i class="fa fa-calendar"></i> More</a></li>
            </ul>
        </div>
    </section>

</div>